{% load static%} <!-- to load the main.css file from our static directory-->

<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

	{% if title %}
		<title>ktmgblog - {{title}}</title>
	{% else %}
		<title>ktmgblog</title>
	{% endif %}

</head>

<body class="bg-dark">
	<!-- ************** NAVBAR ***************** --> 
	<header class="site-header">
	  	<nav class="navbar navbar-expand-md navbar-dark fixed-top border-bottom border-white">
	    <div class="container">
	      <a class="navbar-brand mr-4 text-success" href="{% url 'blog-homepage' %}">ktmgblog</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{% url 'blog-homepage' %}">Home</a>
	          <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	        	{% if user.is_authenticated %}
	        		<a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
	        		<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
	        		<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
	        	{% else %}
	          		<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
	          		<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
	          	{% endif %}
	        </div>
	      	</div>
	    	</div>
	  	</nav>
	</header>
	<!-- ************** NAVBAR ***************** -->

		<!-- *********** MAIN SECTION ********* -->
	<main role="main" class="container bg-dark">
	  <div class="row">
	    <div class="col-md-8">
	    	{% if messages %}
	    		{% for message in messages %}
	    			<div class="alert alert-{{ message.tags}}">
	    				{{ message }}
	    			</div>
	    		{% endfor %}
	    	{% endif %}
	      {% block content %} <!-- base template is the parent, child templates(home.html, post_detail.html) can overwrite these blocks to create their own view-->
	      {% endblock %}
	    </div>
    	 
    	 {% if request.path == "/" %}	<!-- to display sidebar only in home page --> 	
	    <div class="col-md-4 bg-dark">
	      <div class="content-section bg-dark ">
	        <h3 class='text-white'>Rhymes like Dimes</h3>
	          <ul class="list-group ">
	            <li class="list-group-item  bg-dark text-white border-bottom border-white"><h6 class="text-success">#1</h6>Average emcee is like a TV Blooper, MF DOOM he's like DB Cooper.</li>
	            <li class="list-group-item list-group-item-light bg-dark text-white border border-white"><h6 class="text-success">#2</h6>Living off borrowed time the clock ticks faster, that would be the hour they knock the sick blaster.</li>
	            <li class="list-group-item list-group-item-light bg-dark text-white border border-white"><h6 class="text-success">#3</h6>What is Jalapenos? Get it like a whuppin' when you holla at your seniors.</li>
	          </ul>
	      </div> 				
	    </div>
	    {% endif %}

	  </div>
	</main>
			<!--- *********** MAIN SECTION *********>

	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>