{% extends "blog/base.html" %} <!-- use base.html template -->
{% block content%}
	<!-- HTML AND CSS for DETAILED POST VIEW -->
	<style>
			h2.increase
			{
				font-size: 18px;
				font-weight: bold;
				font-family: cursive;
			}
		</style>
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
		      	<small class="text-muted">{{ object.date|date:"M d, Y @P" }}</small>
		      	{% if object.author == user %}
		      		<div>
		      			<a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"> Update </a>
		      			<a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"> Delete </a>
		      		</div>
		      		
		      	{% endif %}
		</div>
				<h2 class= "increase">
					<a class="article-title">{{ object.title }}</a>
				</h2>
		    	<p class="article-content">{{ object.content }}</p>
		  	</div>
	</article>
	<!--- HTML AND CSS for BLOG POSTS --->
{% endblock content%}
