
<!-- USER POSTS PAGE -->
{% extends "blog/base.html" %} <!-- use base.html template -->
{% block content%}
	<h2 class="increase text-white"> Posts by @{{ view.kwargs.username }} <h5 class="text-success">#{{ page_obj.paginator.count}}</h2></h2>
	{% for p in posts %}
	<!-- HTML AND CSS for BLOG POSTS -->
		<style>
			h2.increase
			{
				font-size: 18px;
				font-weight: bold;
				font-family: monospace;
			}
		</style>
		<article class="media content-section bg-secondary">
			<img class="rounded-circle article-img" src="{{ p.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2 text-success font-italic" href="{% url 'user-posts' p.author.username %}">@{{ p.author }}</a>
		      <small class="text-muted">{{ p.date|date:"M d, Y @P" }}</small>
		    </div>
		    <h2 class="increase">
		    	<a class="article-title text-dark font-italic" href="{% url 'post-detail' p.id %}"><u>{{ p.title }}</u></a>
		    </h2>
		    <p class="article-content text-white">{{ p.content|slice:":50" }}</p>
		  </div>
		</article>
	<!--- HTML AND CSS for BLOG POSTS --->
	{% endfor %}

	<!-- pagination logic -->
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{num}}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{num}}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{% endblock content%}
